@model Interfaces.Mvc.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h3>Weather Data for @Model.WeatherData.Location (@Model.ZipCode)</h3>

        <table class="table table-bordered">
            <tr>
                <td>Current Conditions</td>
                <td>@Model.WeatherData.CurrentConditions</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>@Model.WeatherData.Temperature</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>@Model.WeatherData.Humidity</td>
            </tr>
            <tr>
                <td>Wind</td>
                <td>@Model.WeatherData.WindSpeed From @Model.WeatherData.WindDirection</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">


    </div>
</div>
